# ============================================
# Python ignores
# ============================================

# Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class
.ruff_cache/

# Ignore __pycache__ from any subdirectory
**/__pycache__/

# C extensions
*.so

# Distribution / packaging
.Python
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django / Flask
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# pyenv
# .python-version

# pipenv
# Pipfile.lock

# poetry
# poetry.lock

# pdm
.pdm.toml
# pdm.lock

# PEP 582
__pypackages__/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# mkdocs
/site

# mypy / type checking
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/
.pytype/

# VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# VSCode Local History
.history/

# Artifacts
results/
output*/
model_cache/
output*
logs/
gradio_cached_examples
trust_policy.json
.DS_Store

# Secrets / env configs
.TODOS
ca.cert
*.pkl
**/state
**/setup_credentials.sh
*.csv
**/credentials.env
certificates/
*.parquet
anthropic.env
**/hopsworks_credentials.env
**/cryptopanic_credentials.env
**/anthropic_credentials.env
**/comet_ml_credentials.env
**/*.joblib
.env.local

# Modal / app-specific
user_data.sh
set_env_variables.sh
**/model-bundles
**/merged-models
modal-examples/
*.pgn
LeapChatApp/

